@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_StandartLayout.cshtml";
}
<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-8 lead display-4">
        <p class="lead text-danger">Bir hata oluştu.Yazılım ekibiyle irtibata geçiniz. </p>
    
    </div>
</div>