@{
    ViewData["Title"] = "StatusCode";
    Layout = "~/Views/Shared/_StandartLayout.cshtml";
}
<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-8 lead display-4">
        @ViewBag.Code <br />
        @ViewBag.Message
    </div>
</div>