
@*@model AppUserListViewModel*@
@{
    string active = string.Empty;
    if (TempData["Active"] != null)
    {
        active = TempData["Active"].ToString();
    }

}

<!DOCTYPE html>
<html lang="tr">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="~/lib/bootswatch/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/lib/template-css/simple-sidebar.css" rel="stylesheet" />
    <link href="~/lib/fontAwesome/css/all.min.css" rel="stylesheet" />
</head>

<body>

    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="border border-primary border-left-0 border-top-0 border border-bottom-0 border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">Member Layout</div>
            <div class="list-group list-group-flush">
                <a asp-action="Index" asp-controller="IsEmri" class="list-group-item list-group-item-action  @(active=="isemri"?"active":"") "> <i class="fas fa-arrow-alt-circle-down"></i> Gelen İşler</a>
                <a class="list-group-item list-group-item-action  @(active=="profil"?"active":"") "><i class="fas fa-arrow-alt-circle-up"></i> Tamamlanan İşler</a>
                <a href="#" class="list-group-item list-group-item-action "><i class="fas fa-chart-area"></i> İstatistikler</a>
                <a href="#" class="list-group-item list-group-item-action "><i class="fas fa-bell"></i> Bildirimlerim</a>
                <a asp-action="Index" asp-controller="Profil" class="list-group-item list-group-item-action "><i class="fas fa-user"></i> Profilim</a>
                <a asp-area="" asp-action="CikisYap" asp-controller="Home" class="list-group-item list-group-item-action "><i class="fas fa-sign-out-alt"></i> Çıkış Yap</a>

            </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">

            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <button class="btn btn-primary" id="menu-toggle"><i class="fas fa-exchange-alt"></i> Menü</button>

            </nav>

            <div class="container-fluid">
                <script src="~/lib/fontAwesome/js/all.min.js"></script>
                @RenderBody()
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- Bootstrap core JavaScript -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
    @RenderSection("JavaScript", false)
    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });</script>

</body>

</html>

